.Page
{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:white;
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
}

.Page h1
{
    font-size: 40px;
    transform: translate(-1200px,0);
    animation: animate1 3s ease forwards;
}
.Page p
{
    transform: translate(0,-1200px);
    animation: animate1 3s ease forwards;
}
@keyframes animate1 {
    to {transform: translate(0,0);}
  }

 .btn
{
    padding: 20px;
    display: inline-block;
    background-color: transparent;
    border: 1px white solid;
    text-decoration: none;
    color: white;
    margin: 20px;
}